
.navbar-brand img {
    width: 40px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.dropdown ::after {
    display: none;
}

.aantalMeldingen {
    position: absolute;
    margin-left: 17px;
    color: red;
    margin-top: 20px;
    text-decoration: none;
}

.dropdown img {
    float: left;
    width: 30px;
    height: 30px;
}

.dropdown a {
    text-decoration: none;
}